body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.edit-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 0px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
}

#new-task {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#add-task-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #ff1a1a;
}
